.footer {
  padding: 2rem 0;
}

.footerDesktop {
  background-image: url(../images/FooterBackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 3rem 2rem;

  &__logo {
    margin-bottom: 0.5rem;

    &-img {
      height: 50px;
      width: auto;
    }
  }

  &__nav {
    &-list {
      list-style: none;
      display: flex;
      gap: 3.4rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    &-link {
      color: #fff;
      text-decoration: none;
      transition: transform 0.3s ease;
      display: inline-block;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__social {
    display: flex;
    gap: 1rem;
    align-items: center;

    &-link {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      &--facebook {
        background-image: url(../images/facebook.png);
      }

      &--tiktok {
        background-image: url(../images/tik-tok.png);
      }

      &--instagram {
        background-image: url(../images/instagram.png);
      }

      &--linkedin {
        background-image: url(../images/linkedin.png);
      }
    }
  }
}

@media (max-width: 768px) {
  .footerDesktop {
    padding: 2rem 1rem;

    &__nav-list {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
    }

    &__social {
      gap: 0.75rem;

      &-link {
        width: 32px;
        height: 32px;
        background-size: 16px 16px;
      }
    }
  }
}
