@use '../base/mixins.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    background-color: #EAE6E6;
}

.hero {
    background-image: url(../images/ImagenPrincipal2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;
    align-items: center;


    &__title {
        color: rgb(253, 253, 253);
        text-align: center;
        margin-top: 7vh;

        &-principal {
            font-size: 6vh;
            font-family: "Inter", sans-serif;

        }

        &-secondary {
            padding: 5px 7%;
            font-size: 1.8vh;
            font-weight: 200;
            line-height: 2.5vh;
            font-family: "Inter", sans-serif;

        }
    }

    &__bt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45vh;

        button {
            @include estilo-boton-resaltado;
        }

    }


    &__card {
        display: none;
    }
}

.benefits {

    margin-top: 10vh;

    &__title {
        display: none;
    }

    &__card {
        display: flex;
        margin: 4em 1em;
        // border: solid red;
        gap: 15px;

        img {
            width: 10em;
        }

        &-text {
            p {
                font-size: 14px;
            }

            &--reverse {

                align-items: center;
                text-align: right;
            }

        }

        &--reverse {
            flex-direction: row-reverse;
        }


    }
}

.video-background {
    /* El contenedor establece las dimensiones que quieres que el video cubra */
    position: relative;
    width: 100%;
    height: 60vh; /* Ejemplo: 60% de la altura de la ventana */
    overflow: hidden; /* Importante para recortar los bordes si el video es más grande */
}

.video-background video {
    /* El video se estira para cubrir el 100% de su contenedor */
    position: absolute; 
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    
    /* Centra el video usando transform */
    transform: translate(-50%, -50%); 
    
    object-fit: cover;
}



@media (min-width: 1024px) {

    .hero {

        &__bt {

            margin-top: 1vh;
        }

        &__card {
            display: block;
            width: 100%;
            position: relative;
            justify-content: center;
            padding: 7vh 13vw 0;


            &::after {
                content: "";
                display: table;
                clear: both;
            }


            h2 {
                line-height: 1.3em;
                font-size: 3.9vh;
                font-family: "Inter", sans-serif;

            }

            img {
                width: 15vw;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &--right {
                float: right;

                img {
                    float: right;
                }

                h2 {
                    text-align: right;
                    color: #EAE2FA;
                    width: 10em;
                    margin-bottom: 2vh;
                    font-family: "Inter", sans-serif;
                }

            }

            &--left {
                float: left;

                h2 {
                    width: 8em;
                    color: #E9D7D7;
                    margin-bottom: 2vh;

                }


            }



        }
    }

    .benefits {
        margin-top: 6vh;

        &__title {
            display: block;
            color: #353535;
            text-align: center;
            width: 50vw;
            margin: 0 auto;
            h1{
                font-size: 4.5vh;
            }
        }

        &__card {
            margin: 4em 15em;

            gap: 50px;

            img {
                width: 15em;
            }

            &-text {

                width: 35vw;
                p {
                    padding-top: 4vh;
                    font-size: 17px;
                }
                h3{
                    font-size: 25px;
            
                }

            }



        }
    }

}