@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

h1,h2,h3,h4{
font-family: "Inter", sans-serif;
}

.hero {
    background-image: url(../images/ImagenPrincipal2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;
    

    &__title{
        color: rgb(253, 253, 253);
        text-align: center;
        margin-top: 9vh;

        &-principal{
            font-size:5vh;
            
        }
        &-secondary{
            padding: 1% 10%;
            font-size: 1.5vh;
            font-weight: 200;
            line-height: 2.5vh;
        }
    }


    &__card{
        display: none;
    }
}


@media (min-width: 700px) {

.hero{


    &__card{
        display:flex;
        height: 70vh;
        width: 100%;
        border: solid 2px rgb(12, 230, 95);
        position: absolute;
        padding: 0 50px;
        justify-content: space-between;

        img{
            height: 40vh;
            
        }
        

    }
}

}