@use '../components/buttons.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



h1,
h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
}

.hero {
    background-image: url(../images/ImagenPrincipal2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;
    align-items: center;

    &__title {
        color: rgb(253, 253, 253);
        text-align: center;
        margin-top: 7vh;

        &-principal {
            font-size: 6vh;

        }

        &-secondary {
            padding: 1% 20%;
            font-size: 1.8vh;
            font-weight: 200;
            line-height: 2.5vh;

        }
    }

    &__bt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45vh;

        button {
            @include estilo-boton-resaltado;
        }

    }


    &__card {
        display: none;
    }
}


@media (min-width: 1023px) {

    .hero {
        &__bt {

            margin-top: 65vh;

        }

        &__card {
            display: block;
            width: 100%;
            padding: 0 14vh;
            position: relative;
            justify-content: center;


            h2 {

                // width: 10em;
                line-height: 1.3em;
                font-size: 3.9vh;

            }

            img {
                width: 15vw;


            }

            &--right {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                gap: 2.5vh;
                top: 30vh;
                img {
                   
                    transition: transform 0.3s; 
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                h2 {
                    text-align: right;
                    color: #EAE2FA;
                    width: 10em;
                }

            }

            &--left {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 32vh;
                gap: 2.5vh;
                img {
                    // La imagen ya tiene width: 15vw; del padre
                    transition: transform 0.3s; // Añadir transición para suavizar
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                h2 {
                    width: 8em;

                    color: #E9D7D7;
                }


            }



        }
    }

}