.hero {
    background-image: url(../images/ImagenPrincipal.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;

    &__title{
        color: white;
        text-align: center;
        // position: absolute;
        // top: 15%;

        &-secondary{
            padding: 1% 5%;
            font-size: small;
            font-weight: 200;
        }
    }
}

