.hero {
    background-image: url(../images/ImagenPrincipal2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;
}

