@use '../components/buttons.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



h1,
h2,
h3,
h4 {
    font-family: "Inter", sans-serif;
}

.hero {
    background-image: url(../images/ImagenPrincipal2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    margin-top: -100px;
    padding-top: 60px;
    align-items: center;

   
    &__title {
        color: rgb(253, 253, 253);
        text-align: center;
        margin-top: 7vh;

        &-principal {
            font-size: 6vh;

        }

        &-secondary {
            padding: 5px 7%;
            font-size: 1.8vh;
            font-weight: 200;
            line-height: 2.5vh;

        }
    }

    &__bt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45vh;
        button {
            @include estilo-boton-resaltado;
        }

    }


    &__card {
        display: none;
    }
}



@media  (min-width: 1023px) {

    .hero {

        &__bt {
       
            margin-top: 1vh; 
        }

        &__card {
            display: block;
            width: 100%;
            // padding: 0 14vh;
            position: relative;
            justify-content: center;
            padding: 7vh 13vw 0 ;
        

            &::after {
                content: "";
                display: table;
                clear: both;
            }
            
            
            h2 {
                line-height: 1.3em;
                font-size: 3.9vh;

            }

            img {
                width: 15vw;
                transition: transform 0.3s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }

            &--right {
                float: right;

                img {
                    float: right;
                }

                h2 {
                    text-align: right;
                    color: #EAE2FA;
                    width: 10em;
                    margin-bottom: 2vh;
                }

            

            }

            &--left {
                float: left;

                h2 {
                    width: 8em;
                    color: #E9D7D7;
                    margin-bottom: 2vh;

                }


            }



        }
    }

}