.signUp {
    background-image:url(../images/fondo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;

}
