.headerMobile {
    height: 60px;
    background-color: rgb(66, 48, 230);
    margin: 20px;

    &__logo {
        float: left;
        display: inline;

        &--reduced {
            width: 33px;
        }

    }

    &__nav {
        display: inline;
        float: right;

        &-button {
            background: transparent;
            border: none;
            display: block;
            width: 30px;
            height: 25px;
            position: relative;
        }

        &-line {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
            margin-bottom: 5px;
            transition: 0.3s;

            &:last-child {
                margin-bottom: 0;
            }
        }


        &-menu {
            display: none;
            position: absolute;
            top: 50px;
            right: 0;
            background-color: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px;

            &--hidden {
                display: none;
            }
        }

        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            a {
                display: block;
                padding: 15px 20px;
                color: #333;
                text-decoration: none;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

.headerDesktop {
    display: none;
}

body {
    background-color: red;

}

@media (min-width: 400px) {

    .headerMobile {
        display: none;
    }

    .headerDesktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        min-width: fit-content;
        background-color: green;
        padding: 0 2em; 

        &__logo img {
            
            width: 10em;
        }

        &__nav {
            display: flex;
            align-items: center;
            flex: 1;


            &-list {
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
                gap: 2em;

            }

            &-item--left+&-item--right {
                margin-left: auto;
            }

            &-item--left {
                margin-left: 2em;

                a {
                    display: block;
                    padding: 15px 20px;
                    color: #f8f7f7;
                    text-decoration: none;
                    transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

            }

            &-item--right {

                a {
                    display: block;
                    padding: 15px 20px;
                    color: #f8f7f7;
                    text-decoration: none;
                    transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &:last-child {
                    a {
                        background-color: #fdd835;
                        color: #333;
                        padding: 10px 25px;
                        border-radius: 50px;
                        font-weight: bold;
                        transition: transform 0.2s;

                        &:hover {
                            background-color: #fbc02d;
                            transform: scale(1.05);
                        }
                    }
                }

            }
        }


}}