//FUENTES
$font-principal:"Nunito",sans-serif;
$font-titles:"Inter",sans-serif;


//COLORES

$background-principal: #EAE6E6;

$color-bg-primary: #e8e4e1;
$color-bg-item: #dad6d3;
$color-text: #1a1a1a;


//TAMAÑOS

$title__principal-size: 6vh;